.brand .n-logo {
    font-size: 60px;
    margin-bottom: 40px;
}

.add {
    width: 56px;
    height: 56px;;
    border-radius: 50%;
    background: #F44336;
    position: absolute;
    bottom: 0;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    cursor: pointer;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.item {
  display:flex;
  align-items:center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom:0;
}


input:checked + p {
  background:#F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin:20px;
}

.item p {
  margin:0;
  padding:20px;
  transition:background 0.2s;
  flex:1;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
}

.flex {
    margin-right: 7px;
    color: #666;
}

.modal-content {
    background: #e95e38;
}

.color {
    color: #FFFFFF;
}

.space {
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-style {
  list-style: none;
  border-radius: 6px;
}

.alert-flash {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 6px;
}